# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/
env/
ENV/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Streamlit Cache
# -----------------------------
.streamlit/

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# Mypy
# -----------------------------
.mypy_cache/

# -----------------------------
# Ruff
# -----------------------------
.ruff_cache/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Build
# -----------------------------
dist/
build/
*.egg-info/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Docker
# -----------------------------
*.pid

# -----------------------------
# Misc
# -----------------------------
*.tmp
*.bak

extras/